.btn {
  width: 343px;
  height: 48px;

  border-style: unset;
  font-size: 14px;
  line-height: 20px;
  display: block;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  outline: none;
}