  .logo>svg {
    max-width: 50vmin;
    height: auto;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    margin: auto;
  }

  .header {
    background-image: linear-gradient(to right, #FC6767, #e6a5a5);
    min-height: 10vmin;
  }